<%- include('partials/header') %>

<main>
    <h1>
        <%= title %>
    </h1>
    <h2>Upcoming Service Projects</h2>
    <ul>
        <% projects.forEach(project => { %>
        <li><%= new Date(project.project_date).toLocaleDateString('en-US', { 
                        month: 'long', 
                        day: 'numeric', 
                        year: 'numeric' 
                    }) %>: <strong><%= project.title %></strong> (<i><%= project.name %></i>)</li>
        <% }); %>
    </ul>
</main>

<%- include('partials/footer') %>